<!DOCTYPE html>
<html>
<head>
    <title>Non-Complience Notice Dispute Update</title>
</head>
<body>
    <p>Dear {{ $name }}</p>
    <p>We acknowledge receipt of your dispute regarding the following payment notice:</p>
    <p>Payment Notice Number: {{ $ticketNumber }}</p>
    <p>Thank you for reaching out to us. Your request for an internal review has been successfully submitted.</p>
    <p>Our team will carefully assess your dispute and notify you of the outcome. If any additional information is required, we will reach out to you during the review process.</p>
    <p>Best regards,</p>
    <p>Appeals & Compliance Manager<br>OnlyPark</p>
</body>
</html>
