<!DOCTYPE html>
<html>
<head>
    <title>Non-Complience Notice Dispute Update</title>
</head>
<body>
    <p>Dear {{ $name }}</p>
    <p>Thank you for reaching out regarding this payment notice.</p>
    <p>After reviewing the details outlined in your correspondence, we have decided to withdraw the initial infringement notice. However, as the issue resulted from user input error, an administrative fee of $20 is required to cover processing costs.</p>
    <p>Please arrange payment within 14 days via the link below. Failure to do so will result in the fee increasing to $40.</p>
    <p>If you have any questions, please feel free to contact our office via email.</p>
    <br>
    <p>Payment form: https://dash.onlypark.com.au/customer/infringement-payment-form</p>
    <br>
    <p>Best regards,</p>
    <p>Appeals & Compliance Manager<br>OnlyPark</p>
</body>
</html>