<!DOCTYPE html>
<html>
<head>
    <title>Non-Complience Notice Dispute Update</title>
</head>
<body>
    <p>Dear {{ $name }}</p>
    <p>Thank you for reaching out regarding this payment notice.</p>
    <p>Following a thorough internal review of the circumstances outlined in your correspondence, we regret to inform you that the payment notice will not be withdrawn for the following reasons:</p>
    <p>{{ $reason }}</p>
    <p>You now have the following options to resolve this matter:</p>
    <ul>
        <li>Pay the payment notice and any applicable costs within 15 days.</li>
        <li>If the payment is not received within 15 days, the notice will be escalated to our legal team for further action.</li>
    </ul>
    <p>Please pay using the link below</p>
    <p>https://dash.onlypark.com.au/customer/infringement-payment-form</p>
    <p>If you have any further questions, please do not hesitate to contact our office via email.</p>
    <p>Best regards,</p>
    <p>Appeals & Compliance Manager<br>OnlyPark</p>
</body>
</html>
