<!DOCTYPE html>
<html>
<head>
    <title>Non-Complience Notice Dispute Update</title>
</head>
<body>
    <p>Dear {{ $name }}</p>
    <p>Thank you for reaching out regarding this payment notice.</p>
    <p>After reviewing the details outlined in your correspondence, we have decided to withdraw the matter. No further action is required, and the case is now considered closed.</p>
    <p>If you have any further questions, please feel free to contact our office via email.</p>
    <p>Best regards,</p>
    <p>Appeals & Compliance Manager<br>OnlyPark</p>
</body>
</html>
